.header, .button {
  color: #fff;
  font-family: 'Playfair Display', serif;
}
  background-image: url("../images/pizza.jpg");
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
