.header, .button {
  color: #fff;
  font-family: 'Playfair Display', serif;
}
.header_background {
  background-image: url("../images/pizza.jpg");
  background-position: 30% 50%;
  background-size: 250vmax;
  background-repeat: no-repeat;
  filter: blur(5px);
  position: absolute;
}

.header_unblurred {
  background-color: rgba(8, 8, 8, 0.445);
  padding: 1rem;
  filter: blur(0);
}
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
